body{
  background-image: url('../src/assets/jungle.jpg'); 
  background-repeat: no-repeat; 
  background-size:3000px;
  background-position:center 
}

.App {
  text-align: center;
}
.elephant{
  margin-top:0px;


}
.horse{
  margin-top: 110px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start
}

.clouds{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.kaboo{
  margin-top:40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}